<section id="about" class="about-container container">
  <div class="anchor-spacer" aria-hidden="true"></div>
  <h2 class="about-title section-title">{{ "about.title" | translate }}</h2>
  <div class="about-content">
    <div class="about-content-left">
      <div class="about-content-left-top">
        <p class="about-description">{{ "about.description1" | translate }}</p>
        <p class="about-description">{{ "about.description2" | translate }}</p>
        <div class="about-data-box">
          <div class="about-data-item">
            <img src="/assets/img/house.png" alt="Location" />
            <p>{{ "about.location" | translate }}</p>
          </div>
          <div class="about-data-item">
            <img src="/assets/img/laptop.png" alt="Location" />
            <p>{{ "about.remote" | translate }}</p>
          </div>
        </div>
      </div>
      <div class="about-talk-button-container">
        <a [routerLink]="['/']" fragment="contact" class="about-talk-button">
          {{ "about.talk" | translate }}
        </a>
      </div>
    </div>
    <div class="about-content-right">
      <div class="about-photo-wrapper">
        <img src="/assets/img/photo.jpg" alt="Photo" class="about-photo" />
        <div class="about-photo-frame"></div>
      </div>
    </div>
  </div>
  <a
    [routerLink]="['/']"
    fragment="skills"
    class="arrow-wrapper arrow-southwest"
    [ngClass]="{
      animated: isArrowAnimated,
      final: hasAnimationFinished
    }"
    (mouseenter)="animateArrowOnce()"
  >
    <div class="arrow-frame"></div>
  </a>
</section>
