<section id="about" class="about-container container">
  <h2 class="about-title section-title">{{ "about.title" | translate }}</h2>
  <div class="about-content">
    <div class="about-content-left">
      <div class="about-content-left-top">
        <p class="about-description">{{ "about.description1" | translate }}</p>
        <p class="about-description">{{ "about.description2" | translate }}</p>
        <div class="about-data-box">
          <div class="about-data-item">
            <img src="/assets/img/house.png" alt="Location" />
            <p>{{ "about.location" | translate }}</p>
          </div>
          <div class="about-data-item">
            <img src="/assets/img/laptop.png" alt="Location" />
            <p>{{ "about.remote" | translate }}</p>
          </div>
        </div>
      </div>
      <div class="about-talk-button-container">
        <p class="about-talk-text">{{ "about.talk" | translate }}</p>
      </div>
    </div>
    <div class="about-content-right">
      <img src="/assets/img/photo.jpg" alt="Photo" class="about-photo" />
    </div>
  </div>
  <div class="about-bottom-arrow-container">
    <div class="about-bottom-arrow"></div>
  </div>
</section>
