.about-container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    padding-inline: 1rem;
}

.about-content {
    display: flex;
    justify-content: space-between;
}

.about-content-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.about-content-left-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
}

.about-data-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
}

.about-data-item {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

.about-talk-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-talk-button-container:hover {
    font-weight: bold;
}

.about-talk-text {
    text-align: center;
    font-size: 1.2rem;
}

.about-content-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.about-photo {
    width: 400px;
    height: auto;
}

.about-bottom-arrow-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.about-bottom-arrow-container:hover {
    cursor: pointer;
}

.about-bottom-arrow {
    width: 11rem;
    height: 11rem;
    background-image: url("/assets/img/arrow-southwest-1.png");
    background-repeat: no-repeat;
    background-size: contain;
}

  @media (max-width: 1000px) {
   h2 {
     font-size: 3rem;
    }

    .about-photo {
    max-width: 300px;
    height: auto;
}
  }