.hero-container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  height: auto;
  min-height: 800px;
  max-height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  padding-inline: 1rem;
}

.hero-top {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-bottom {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hero-title {
  font-size: 7rem;
  text-align: center;
  flex-wrap: wrap;
}

.hero-subtitle-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  gap: 0.75rem;
  margin-inline: auto;
}

.hero-subtitle-line {
  height: 3px;
  background-color: var(--color-text);
  flex-grow: 1;
}

.hero-subtitle {
  font-size: 2.5rem;
  text-align: right;
  font-weight: bold;
  color: var(--color-highlight);
}

.hero-email-vertical {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 1rem;
  color: var(--color-text);
  padding: 0.5rem;
  text-decoration: none;
  user-select: none;
  transition: color 100ms ease;

  &:hover {
    color: var(--color-highlight);
    cursor: pointer;
  }

  @media (max-width: 600px) {
    padding: 0.25rem;
  }
}

.scroll-down-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scroll-down-arrow {
  background-image: url("/assets/img/scroll-down-arrow-3.png");
  width: 40px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 120ms ease-in-out, background-image 0s;
}
.scroll-down-arrow:hover {
  animation: scrollArrow 750ms steps(7) infinite;
  transform: translateY(5px);
}

@keyframes scrollArrow {
  0% {
    background-image: url("/assets/img/scroll-down-arrow-1.png");
  }
  14% {
    background-image: url("/assets/img/scroll-down-arrow-2.png");
  }
  28% {
    background-image: url("/assets/img/scroll-down-arrow-3.png");
  }
  42% {
    background-image: url("/assets/img/scroll-down-arrow-4.png");
  }
  57% {
    background-image: url("/assets/img/scroll-down-arrow-5.png");
  }
  71% {
    background-image: url("/assets/img/scroll-down-arrow-6.png");
  }
  85% {
    background-image: url("/assets/img/scroll-down-arrow-7.png");
  }
  100% {
    background-image: url("/assets/img/scroll-down-arrow-1.png");
  }
}
.scroll-down-text {
  text-align: center;
  flex-wrap: wrap;
}

@media (max-width: 1000px) {
  .hero-title {
    font-size: 3.5rem;
  }

  .hero-subtitle-box {
    max-width: 300px;
  }

  .hero-subtitle {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .hero-bottom {
    gap: 0.5rem;
    justify-content: space-between;
    padding-inline: 0.5rem;
  }
}
