.hero-container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    height: auto;
    min-height: 800px;
    margin: 0 auto;
}

.hero-top {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-bottom {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hero-title {
    font-size: 4rem;
    text-align:center;
    flex-wrap: wrap;
}

.hero-subtitle-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-subtitle {
    font-size: 2.5rem;
    text-align: right;
    font-weight: bold;
}

.scroll-down-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scroll-down-text {
    text-align: center;
    flex-wrap: wrap;
}