<section id="skills" class="skills-container container">
  <div class="skills-outer-box">
    <h2 class="skills-title section-title">{{ "skills.title" | translate }}</h2>
    <div class="skills-inner-box">
      <div class="skills-inner-box-top">
        <div class="skill-icon-box">
          <img class="skill-icon" src="assets/img/skill-icon-angular.png" alt="Angular icon" />
          <p class="skill-text">Angular</p>
        </div>
      </div>
      <div class="skills-inner-box-bottom">
        <img class="skill-icon" src="/assets/img/skill-icon-continue.png" alt="Continued learning icon" />
        <p class="continued-text">{{ "skills.continuedLearning" | translate }}</p>
      </div>
    </div>
  </div>
    <div class="skills-bottom-arrow-container">
    <div class="skills-bottom-arrow"></div>
  </div>
</section>