.skills-container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    height: auto;
    min-height: 800px;
    margin: 0 auto;
}


.skill-icon {
    width: 60px;
    height: 60px;
}

.skills-inner-box-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.5rem;
}