.skills-container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.skills-outer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills-inner-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.skills-inner-box-top {
    display: flex;
    flex-direction: row;
    align-items: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.skill-icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

}

.skill-icon-box:hover {
    color: var(--color-highlight);
}

.skill-icon {
    width: 60px;
    height: 60px;
}

.skill-icon:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

.skill-text {
    text-align: center;
    font-weight: bold;
}

.skill-text:hover {
    color: var(--color-highlight);
}

.skills-inner-box-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    text-align: left;
}

.skills-bottom-arrow-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.skills-bottom-arrow-container:hover {
    cursor: pointer;
}

.skills-bottom-arrow {
    width: 11rem;
    height: 11rem;
    background-image: url("/assets/img/arrow-southeast-1.png");
    background-repeat: no-repeat;
    background-size: contain;
}