.portfolio-container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.portfolio-title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.portfolio-subtitle {
    font-size: 1.5rem;
    text-align: center;
}