<section id="portfolio" class="portfolio-container container">
  <div class="portfolio-title-box">
    <h2 class="portfolio-title section-title">
      {{ "portfolio.title" | translate }}
    </h2>
    <p class="portfolio-subtitle">{{ "portfolio.subtitle" | translate }}</p>
  </div>
  <div class="portfolio-items">
    <app-item1
      [title]="item1Title"
      [imageUrl]="item1ImageUrl"
      [isOdd]="true"
    ></app-item1>

    <app-item2
      [title]="item2Title"
      [imageUrl]="item2ImageUrl"
      [isOdd]="false"
    ></app-item2>
  </div>
</section>
