<section id="contact" class="contact-full">
  <div class="contact-container container">
  <div class="contact-title-box">
    <h2 class="contact-title section-title">
      {{ "contact.title" | translate }}
    </h2>
  </div>
  <div class="form-header-box">
    <p class="form-header-1">{{ "contact.formHeader1" | translate }}</p>
    <p class="form-header-2">{{ "contact.formHeader2" | translate }}</p>
  </div>

  <div class="contact-form-box">
    <form (ngSubmit)="onSubmit()" #contactForm="ngForm" class="contact-form">
    <label for="name">{{ "contact.name" | translate }}</label>
    <input [(ngModel)]="contactData.name"
      type="text"
      id="name"
      name="name"
      placeholder="{{ 'contact.namePlaceholder' | translate }}"
    />

    <label for="email">{{ "contact.email" | translate }}</label>
    <input [(ngModel)]="contactData.email"
      type="email"
      id="email"
      name="email"
      placeholder="{{ 'contact.emailPlaceholder' | translate }}"
    />

    <label for="message">{{ "contact.message" | translate }}</label>
    <textarea
      id="message"
      name="message"
      [(ngModel)]="contactData.message"
      placeholder="{{ 'contact.messagePlaceholder' | translate }}"
    ></textarea>
    <input type="submit" value="{{ 'contact.submit' | translate }}" />
    </form>
  </div>
  </div>
</section>
