<nav class="navbar container">
  <a [routerLink]="['/']" (click)="scrollToTop()" class="logo-link">
    <img src="/assets/img/logo.png" alt="Logo" class="logo" />
  </a>

  <div class="nav-right">
    <div class="language-toggle desktop-only">
      <span
        class="lang-option"
        [class.selected]="translate.currentLang === 'en'"
        (click)="switchLangManual('en')"
      >
        EN
      </span>
      <span
        class="lang-option"
        [class.selected]="translate.currentLang === 'de'"
        (click)="switchLangManual('de')"
      >
        DE
      </span>
    </div>

    <div
      class="burgermenu"
      [ngClass]="{
        'animate-open': isMenuOpen,
        'animate-close': !isMenuOpen && wasOpen
      }"
      (click)="toggleMenu()"
    ></div>
  </div>

  <div *ngIf="isMenuOpen" class="overlay-wrapper">
    <div class="overlay container animate-in">
      <div class="language-toggle mobile-only">
        <span
          class="lang-option"
          [class.selected]="translate.currentLang === 'en'"
          (click)="switchLangManual('en')"
        >
          EN
        </span>
        <span
          class="lang-option"
          [class.selected]="translate.currentLang === 'de'"
          (click)="switchLangManual('de')"
        >
          DE
        </span>
      </div>
      <div class="overlay-link-box">
        <ng-container *ngIf="isOnHomePage(); else homepageLink">
          <a
            href="#about"
            class="overlay-link"
            (click)="scrollToElement('about'); toggleMenu(); $event.preventDefault()"
          >
            {{ "overlay.about" | translate }}
            <span class="underline"></span>
            <span class="click-box"></span>
          </a>
          <a
            href="#skills"
            class="overlay-link"
            (click)="scrollToElement('skills'); toggleMenu(); $event.preventDefault()"
          >
            {{ "overlay.skills" | translate }}
            <span class="underline"></span>
            <span class="click-box"></span>
          </a>
          <a
            href="#portfolio"
            class="overlay-link"
            (click)="scrollToElement('portfolio'); toggleMenu(); $event.preventDefault()"
          >
            {{ "overlay.portfolio" | translate }}
            <span class="underline"></span>
            <span class="click-box"></span>
          </a>
        </ng-container>

        <ng-template #homepageLink>
          <a [routerLink]="['/']" class="overlay-link" (click)="toggleMenu()">
            {{ "navbar.home" | translate }}
            <span class="underline"></span>
            <span class="click-box"></span>
          </a>
        </ng-template>
      </div>

      <div
        class="overlay-footer overlay-footer-transition"
        *ngIf="showSlope1"
      ></div>

      <div class="overlay-footer" *ngIf="isMenuOpen && !showSlope1">
        <div class="overlay-footer-left">
          <h1 class="overlay-footer-title">
            {{ "overlay.findme" | translate }}
          </h1>
          <p>joshuabrunke1&#64;gmail.com</p>
        </div>
        <div class="overlay-footer-right">
          <a
            href="https://github.com/JoshuaBrunke"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="/assets/img/github-button-1.png"
              class="socmed-icon"
              alt="GitHub"
            />
          </a>
          <a href="#contact" (click)="scrollToElement('contact'); toggleMenu(); $event.preventDefault()">
            <img
              src="/assets/img/email-button-1.png"
              class="socmed-icon"
              alt="Email"
            />
          </a>
          <a href="https://www.linkedin.com/in/joshua-brunke/" target="_blank" rel="noopener noreferrer">
            <img
              src="/assets/img/linkedin-button-1.png"
              class="socmed-icon"
              alt="LinkedIn"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
