.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 3;
  background-color: var(--color-bg);
  height: 80px;
}

.nav-right {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}

.burgermenu {
  background-image: url("/assets/img/burger-button-1.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.animate-open {
  animation: burgerOpen 0.5s steps(4) forwards;
}

.animate-close {
  animation: burgerClose 0.5s steps(4);
}

@keyframes burgerOpen {
  0% {
    background-image: url("/assets/img/burger-button-1.png");
  }
  25% {
    background-image: url("/assets/img/burger-button-2.png");
  }
  50% {
    background-image: url("/assets/img/burger-button-3.png");
  }
  75% {
    background-image: url("/assets/img/burger-button-4.png");
  }
  100% {
    background-image: url("/assets/img/burger-button-5.png");
  }
}

@keyframes burgerClose {
  0% {
    background-image: url("/assets/img/burger-button-5.png");
  }
  25% {
    background-image: url("/assets/img/burger-button-6.png");
  }
  50% {
    background-image: url("/assets/img/burger-button-7.png");
  }
  75% {
    background-image: url("/assets/img/burger-button-8.png");
  }
  100% {
    background-image: url("/assets/img/burger-button-1.png");
  }
}

.language-toggle {
  display: flex;
  gap: 0.75rem;
  font-weight: bold;
}

.lang-option {
  padding: 0.2rem 0.5rem;
  position: relative;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.lang-option.selected {
  border: 2px solid var(--color-highlight);
}

.lang-option:not(.selected):hover::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 30%;
  width: 70%;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}

.overlay-wrapper {
  position: fixed;
  width: 100%;
  top: 80px;
  left: 0;
  z-index: 2;
}

.overlay {
  background-color: var(--color-bg);
  height: 500px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-100%);
  opacity: 0;
  animation: slideIn 0.5s ease-out forwards;
}

.overlay-link-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  padding: 1rem 2rem;
}

.overlay-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-image: url(/assets/img/overlay-slope-2.png);
  height: 318px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
}

.overlay-footer-transition {
  background-image: url("/assets/img/overlay-slope-1.png");
  height: 129px;
}

.overlay-footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 0.5rem;
  text-align: start;
  color: var(--color-bg);
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.overlay-footer-title {
  font-weight: bold;
}

.overlay-footer-title:hover {
  color: var(--color-highlight);
}

.overlay-footer-right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.socmed-icon {
  width: 30px;
  height: 30px;
}

.socmed-icon:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

@keyframes slideIn {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 769px) {
  .mobile-only {
    display: none;
  }
}
