.navbar-right {

}

.burgermenu {
  background-image: url("/assets/img/burger-button-1.png"); 
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  cursor: pointer;
}