<nav class="navbar container">
  <img src="assets/img/logo.png" alt="Logo" class="logo" />

  <div class="nav-right">
    <div class="language-toggle desktop-only">
      <span
        class="lang-option"
        [class.selected]="translate.currentLang === 'en'"
        (click)="switchLangManual('en')"
      >
        EN
      </span>
      <span
        class="lang-option"
        [class.selected]="translate.currentLang === 'de'"
        (click)="switchLangManual('de')"
      >
        DE
      </span>
    </div>

    <div
      class="burgermenu"
      [ngClass]="{
        'animate-open': isMenuOpen,
        'animate-close': !isMenuOpen && wasOpen
      }"
      (click)="toggleMenu()"
    ></div>
  </div>

  <div *ngIf="isMenuOpen" class="overlay-wrapper">
    <div class="overlay container animate-in">
      <div class="language-toggle mobile-only">
        <span
          class="lang-option"
          [class.selected]="translate.currentLang === 'en'"
          (click)="switchLangManual('en')"
        >
          EN
        </span>
        <span
          class="lang-option"
          [class.selected]="translate.currentLang === 'de'"
          (click)="switchLangManual('de')"
        >
          DE
        </span>
      </div>
      <div class="overlay-link-box">
        <a [routerLink]="['/']" fragment="about" class="overlay-link"(click)="toggleMenu()">{{
          "overlay.about" | translate
        }}</a>
        <a [routerLink]="['/']" fragment="skills" class="overlay-link"(click)="toggleMenu()">{{
          "overlay.skills" | translate
        }}</a>
        <a [routerLink]="['/']" fragment="portfolio" class="overlay-link"(click)="toggleMenu()">{{
          "overlay.portfolio" | translate
        }}</a>
      </div>

      <div
        class="overlay-footer overlay-footer-transition"
        *ngIf="showSlope1"
      ></div>

      <div class="overlay-footer" *ngIf="isMenuOpen && !showSlope1">
        <div class="overlay-footer-left">
          <h1 class="overlay-footer-title">
            {{ "overlay.findme" | translate }}
          </h1>
          <span>joshuabrunke1&#64;gmail.com</span>
        </div>
        <div class="overlay-footer-right">
          <img
            src="assets/img/github-button-1.png"
            class="socmed-icon"
            alt="GitHub"
          />
          <img
            src="assets/img/email-button-1.png"
            class="socmed-icon"
            alt="Email"
          />
          <img
            src="assets/img/linkedin-button-1.png"
            class="socmed-icon"
            alt="LinkedIn"
          />
        </div>
      </div>
    </div>
  </div>
</nav>
