<section id="references" class="references-container container">
    <div class="references-title-box">
      <h2 class="references-title section-title">{{ "references.title" | translate }}</h2>
      <p class="references-subtitle">{{ "references.subtitle" | translate }}</p>
    </div>

<div class="references-box">
  <div class="references-item">
    <h3 class="references-quote-mark">"</h3>
    <h4 class="references-name">M. Mustermann</h4>
    <p class="references-job-title">{{ "references.jobTitle1" | translate }}</p>
    <p class="references-text">{{ "references.text1" | translate }}</p>
  </div>
    <div class="references-item">
    <h3 class="references-quote-mark">"</h3>
    <h4 class="references-name">M. Mustermann</h4>
    <p class="references-job-title">{{ "references.jobTitle2" | translate }}</p>
    <p class="references-text">{{ "references.text2" | translate }}</p>
  </div>
    <div class="references-item">
    <h3 class="references-quote-mark">"</h3>
    <h4 class="references-name">M. Mustermann</h4>
    <p class="references-job-title">{{ "references.jobTitle3" | translate }}</p>
    <p class="references-text">{{ "references.text3" | translate }}</p>
  </div>
</div>

  <div class="references-bottom-arrow-container">
    <div class="references-bottom-arrow"></div>
  </div>
</section>