.portfolio-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 2rem;

  &.odd {
    flex-direction: row;
  }

  &.even {
    flex-direction: row-reverse;
  }

  .image-container,
  .text-container {
    flex: 1 1 50%;
    padding: 1rem;
  }

  img {
    max-width: 500px;
    height: auto;
  }
}

h3 {
  font-size: 1.5rem;
}

.tech-stack {
  font-size: 1.2rem;
  color: var(--color-highlight);
  padding: 0.5rem 0;
}

.item-description {
  padding-bottom: 2rem;
}

.number-label {
  font-family: var(--font-heading);
  font-size: 2.5rem;
  position: absolute;
  z-index: 2;
  top: -1.8rem;

  // desktop default
  &.odd {
    right: 1rem;
  }

  &.even {
    left: 1rem;
  }

  // mobile layout
@media (max-width: 768px) {
  top: 0.5rem;
  
  &.odd {
    left: auto;
    right: -1rem;
  }

  &.even {
    right: auto;
    left: -1rem;
  }
}
}