<div class="privacy-container container">
  <h1>{{ "privacy.title" | translate }}</h1>
  <div [innerHTML]="'privacy.section1' | translate"></div>
  <div [innerHTML]="'privacy.section2' | translate"></div>
  <div [innerHTML]="'privacy.section3' | translate"></div>
  <div [innerHTML]="'privacy.section4' | translate"></div>
  <div [innerHTML]="'privacy.section5' | translate"></div>
  <div [innerHTML]="'privacy.section6' | translate"></div>
  <div [innerHTML]="'privacy.section7' | translate"></div>
  <div [innerHTML]="'privacy.section8' | translate"></div>
  <div [innerHTML]="'privacy.section9' | translate"></div>
</div>
