@font-face {
  font-family: "Overpass";
  src: url("/assets/fonts/Overpass-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Syne";
  src: url("/assets/fonts/Syne-VariableFont_wght.ttf") format("truetype");
}

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --font-body: "Overpass", sans-serif;
  --font-heading: "Syne", sans-serif;
  --color-bg: #fffcf3;
  --color-text: #000000;
  --color-highlight: #4B47FF;
}

body {
  background-color: var(--color-bg);
  font-family: var(--font-body);
  color: var(--color-text);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

a:hover {
  color: var(--color-highlight);
  cursor: pointer;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
